.card__user--icon {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 50px;
}

.card__user--icon i {
  color: var(--font-color);
  transition: transform 200ms ease;
}

.card__user--icon i:hover {
  transform: scale(1.05);
  transition: transform 200ms ease;
}

.card__info {
  padding: 1rem;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  color: var(--font-color);
}

.card__btn-method {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.card__btn {
  background: none;
  border: none;
  font-size: 30px;  
  cursor: pointer;
  transition: transform 200ms ease;
}

.card__btn-method i {
  border: none;
  font-size: 30px;  
  cursor: pointer;
  transition: transform 200ms ease;
}

.card__btn i:hover {
  transform: scale(1.05);
  transition: transform 200ms ease;
}

.card__btn--watch a {
  color: var(--btn-view);
}
.card__btn--edit a {
  color: var(--btn-edit);  
}
.card__btn--del {
  color: var(--btn-del);  
}


